<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.foreveross.plugins.AppOperation" version="0.0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AppOperationPlugin</name>
    <description>a system operation class for android</description>
    <js-module name="appOperation" src="www/AppOperation.js">
        <clobbers target="com.foreveross.plugins.AppOperation"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppOperation">
                <param name="android-package" value="com.foreveross.plugins.AppOperation"/>
            </feature>
        </config-file>
        <source-file src="src/android/AppOperation.java" target-dir="src/com/foreveross/plugins/AppOperation"/>
    </platform>
</plugin>
